---
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <script src="https://kit.fontawesome.com/cf40b44f14.js" crossorigin="anonymous"></script>
		<!-- Enlaces CDN de Quill -->
		<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
		<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
		<title>{title}</title>
		<ViewTransitions />
		<style>
			#editor .ql-toolbar.ql-snow {
			border: 2px solid #a59f9f !important;
			border-top-left-radius: 7px !important;
			border-top-right-radius: 7px !important;
			box-sizing: border-box !important;
			font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;
			padding: 8px !important;
			}

			#editor .ql-toolbar.ql-snow + .ql-container.ql-snow {
			border-top: 0px !important;
			border-bottom: 2px solid #a59f9f !important;
			border-left: 2px solid #a59f9f !important;
			border-right: 2px solid #a59f9f !important;
			border-bottom-left-radius: 7px !important;
			border-bottom-right-radius: 7px !important;
			}
		</style>
	</head>
    <body>
        <main>
            <div class="h-screen flex flex-col">
                <slot />
            </div>
        </main>
    </body>
	
</html>