---
import MainLayouts from './components/Layouts/MainLayouts.astro';
import Slider from './components/Slider.astro';
---

<MainLayouts title = "Eventos - UManizales Totem">
    <!-- Columna de eventos -->
    <div class="flex flex-1">
        <div class="w-full relative bg-white">
            <div class="w-full absolute top-0 h-72 bg-cover bg-center p-4" style="background: url('../../public/img/titulo_pagina.png');">            
                <div class="grid grid-cols-2 gap-2">
                    <h2 class="text-7xl text-slider-nav font-bold m-6 ml-32 text-left">Eventos</h2>
                    <a href="./" class="text-right text-botones hover:text-botones-hover mr-12 m-5 text-8xl"><i class="fa-solid fa-arrow-left"></i></a>
                  </div>
                <hr class="bg-botones h-3 w-1/2 -ml-4">
            </div>
            <!-- Lista de eventos -->
            <div class="flex items-center justify-center h-full">    
                <div class="grid grid-cols-1 w-10/12 mt-32">
                    <!-- <p class="text-4xl bg-gray-100 p-5" style="z-index: 1;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>            -->
                    <div class="mt-10">
                        <div class="flex h-full w-full flex-col overflow-y-scroll">
                            <button class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100 mt-5">
                                <div class="flex h-24 w-1/6 items-end text-black group-hover:bg-green-200">
                                    <p class="tag w-full text-center text-1xl font-medium text-gray-700 group-hover:text-green-900">
                                        <label class="text-slider-nav">Martes</label><br><label style="color: #802f00;">27 de junio</label> <br><label class="text-botones">7:30 p.m.</label>
                                    </p>
                                </div>
                                <div class="flex w-full flex-col items-start justify-between">
                                    <p class="text-left text-4xl text-slider-nav font-semibold">Sabi Satizábal estará este martes en concierto de cierre de semestre en la UManizales</p>
                                </div>
                            </button>
                            <hr class="bg-yellow-500 h-1 w-1/2 -ml-28 items-center">
                            <button class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100 mt-5">
                                <div class="flex h-24 w-1/6 items-end text-black group-hover:bg-green-200">
                                    <p class="tag w-full text-center text-1xl font-medium text-gray-700 group-hover:text-green-900">
                                        <label class="text-slider-nav">Martes</label><br><label style="color: #802f00;">27 de junio</label> <br><label class="text-botones">7:30 p.m.</label>
                                    </p>
                                </div>
                                <div class="flex w-full flex-col items-start justify-between">
                                    <p class="text-left text-4xl text-slider-nav font-semibold">Sabi Satizábal estará este martes en concierto de cierre de semestre en la UManizales</p>
                                </div>
                            </button>                            
                            <hr class="bg-yellow-500 h-1 w-1/2 -ml-28 items-center">
                            <br>
                            <button class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100 mt-5">
                                <div class="flex h-24 w-1/6 items-end text-black group-hover:bg-green-200">
                                    <p class="tag w-full text-center text-1xl font-medium text-gray-700 group-hover:text-green-900">
                                        <label class="text-slider-nav">Martes</label><br><label style="color: #802f00;">27 de junio</label> <br><label class="text-botones">7:30 p.m.</label>
                                    </p>
                                </div>
                                <div class="flex w-full flex-col items-start justify-between">
                                    <p class="text-left text-4xl text-slider-nav font-semibold">Sabi Satizábal estará este martes en concierto de cierre de semestre en la UManizales</p>
                                </div>
                            </button>                            
                            <hr class="bg-yellow-500 h-1 w-1/2 -ml-28 items-center">
                            <br>
                            <button class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100 mt-5">
                                <div class="flex h-24 w-1/6 items-end text-black group-hover:bg-green-200">
                                    <p class="tag w-full text-center text-1xl font-medium text-gray-700 group-hover:text-green-900">
                                        <label class="text-slider-nav">Martes</label><br><label style="color: #802f00;">27 de junio</label> <br><label class="text-botones">7:30 p.m.</label>
                                    </p>
                                </div>
                                <div class="flex w-full flex-col items-start justify-between">
                                    <p class="text-left text-4xl text-slider-nav font-semibold">Sabi Satizábal estará este martes en concierto de cierre de semestre en la UManizales</p>
                                </div>
                            </button>                            
                            <hr class="bg-yellow-500 h-1 w-1/2 -ml-28 items-center">
                            <br>
                            <button class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100 mt-5">
                                <div class="flex h-24 w-1/6 items-end text-black group-hover:bg-green-200">
                                    <p class="tag w-full text-center text-1xl font-medium text-gray-700 group-hover:text-green-900">
                                        <label class="text-slider-nav">Martes</label><br><label style="color: #802f00;">27 de junio</label> <br><label class="text-botones">7:30 p.m.</label>
                                    </p>
                                </div>
                                <div class="flex w-full flex-col items-start justify-between">
                                    <p class="text-left text-4xl text-slider-nav font-semibold">Sabi Satizábal estará este martes en concierto de cierre de semestre en la UManizales</p>
                                </div>
                            </button>                            
                            <hr class="bg-yellow-500 h-1 w-1/2 -ml-28 items-center">
                            <br>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <!-- Slider -->
     <Slider />
</MainLayouts>