---
import MainLayouts from "../components/Layouts/MainLayouts.astro";
import Formulario from "./Formulario.astro";
import ListaEventos from "./ListaEventos.astro";
---
<MainLayouts title = "Administración de eventos - Totem UM">
    <div class="w-full absolute top-0 h-72 bg-no-repeat bg-cover bg-center p-4" style="background-image: url('/img/titulo_pagina.png');">  
                
      <div class="container mx-auto">
          <h2 style="font-size: clamp(2rem, 2vw + 1.5rem, 4rem);" class="text-slider-nav font-semibold m-6 text-left">Creación de eventos</h2>
        </div>
        <hr class="bg-botones h-2 md:h-2 lg:h-1  w-1/2 -ml-4">
        <div class="container mx-auto px-4 sm:px-8 lg:px-20 xl:px-30 mt-8">
          <Formulario />
          <ListaEventos />
        </div>
    </div>
</MainLayouts>