---
let editorContent = '';

---
<div>
  <label for="description" class="block text-md font-medium text-slider-nav">Descripción</label>
  <div id="editor" class="block w-full h-20 bg-transparent rrounded-md border-2 border-gray-400"></div>
  <input type="hidden" name="description" id="description" value={editorContent} />
</div>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const toolbarOptions = [
      [{ 'header': [1, 2, 3, false] }],
      ['bold', 'italic', 'underline', 'strike'],
      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
      [{ 'align': [] }],
      ['link', 'image'],
      [{ 'color': [] }, { 'background': [] }],
      ['clean']
    ];

    const quill = new Quill('#editor', {
      theme: 'snow',
      modules: {
        toolbar: toolbarOptions
      },
      placeholder: 'Escribe aquí la descripción...',
    });

    quill.on('text-change', () => {
      document.querySelector('input[name="description"]').value = quill.root.innerHTML;
    });
  });
</script>